<p>service-catalog works!</p>

<!-- Vòng lặp ngoài: Duyệt qua từng Danh mục (Category) -->
<table border="1" *ngFor="let cate of categories" style="margin-bottom: 20px;">
  <tr>
    <td>Ma Danh Muc</td>
    <td>Ten Danh Muc</td>
  </tr>
  <tr>
    <td>{{cate.Cateid}}</td>
    <td>{{cate.CateName}}</td>
  </tr>
  
  <!-- Bảng con chứa sản phẩm -->
  <tr>
    <td colspan="2">
      <table border="1" width="100%">
        <tr>
          <td>Ma San Pham</td>
          <td>Ten San Pham</td>
          <td>Gia San Pham</td>
          <td>Picture</td>
        </tr>
        
        <!-- Vòng lặp trong: Duyệt qua từng Sản phẩm của danh mục hiện tại -->
        <tbody *ngFor="let p of cate.Products">
          <tr>
            <td>{{p.ProductId}}</td>
            <td>{{p.ProductName}}</td>
            <td>{{p.Price}}</td>
            <td>
              <img [src]="p.Image" width="50" alt="{{p.ProductName}}">
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>